<template>
  <q-page>
    <div class="row items-end q-col-gutter-md q-pa-lg">
      <div class="col">
        <q-input
          bottom-slots
          v-model="text"
          placeholder="What's happening"
          counter
          maxlength="280"
          autogrow
          class="m-input"
        >
          <template v-slot:before>
            <q-avatar size="xl">
              <img :src="imgUrl" />
            </q-avatar>
          </template>
        </q-input>
      </div>
      <div class="col col-shrink">
        <q-btn
          :disable="disabled"
          no-caps
          rounded
          unelevated
          color="primary"
          padding="xs lg"
          class="q-mb-lg"
          label="Tweet"
          @click="addNewTweet"
        />
      </div>
    </div>

    <q-separator size="10px" color="grey-2" class="divider" />

    <q-list separator>
      <transition-group
        appear
        enter-active-class="animated fadeIn slow"
        leave-active-class="animated fadeOut slow"
      >
        <tweet
          v-for="tweet in tweets"
          :key="tweet.date"
          :tweet="tweet"
          @onDeleteTweet="deleteTweet"
        />
      </transition-group>
    </q-list>
  </q-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Tweet from 'src/components/tweet.vue';
import { TweetInterface } from 'src/components/tweet.vue';

export default defineComponent({
  name: 'Home',
  setup() {
    return {};
  },
  components: {
    Tweet,
  },
  data() {
    return {
      text: '',
      username: 'badboy',
      userHandle: 'badboyxx',
      imgUrl: 'https://cdn.quasar.dev/img/avatar5.jpg',
      tweets: [
        {
          imgUrl: 'https://cdn.quasar.dev/img/avatar5.jpg',
          username: 'Bob Vance',
          userHandle: 'bob_vance',
          message: 'Wtffff yeahhh boissss',
          date: 1637463215474,
        },
        {
          imgUrl: 'https://cdn.quasar.dev/img/avatar5.jpg',
          username: 'Bob Vance',
          userHandle: 'bob_vance',
          message: 'Wtffff yeahhh boissss',
          date: 2637563615074,
        },
        {
          imgUrl: 'https://cdn.quasar.dev/img/avatar5.jpg',
          username: 'Bob Vance',
          userHandle: 'bob_vance',
          message: 'Wtffff yeahhh boissss',
          date: 1637463615474,
        },
      ],
    };
  },
  computed: {
    disabled(): boolean {
      return this.text.length === 0;
    },
  },
  methods: {
    addNewTweet() {
      this.tweets.unshift({
        username: this.username,
        userHandle: this.userHandle,
        message: this.text,
        imgUrl: this.imgUrl,
        date: Date.now(),
      });
      this.text = '';
    },
    deleteTweet(tweet: TweetInterface) {
      console.log('Delete tweet');
      this.tweets.splice(this.tweets.indexOf(tweet), 1);
    },
  },
});
</script>

<style lang="sass">
.m-input
  textarea
    font-size: 18px
    line-height: 1.5 !important
.divider
  border-top: 1px solid
  border-bottom: 1px solid
  border-color: $grey-4
</style>
