<template>
  <q-item>
    <q-item-section avatar>
      <q-avatar>
        <img :src="tweet.imgUrl" />
      </q-avatar>
    </q-item-section>

    <q-item-section class="q-py-md">
      <q-item-label class="text-subtitle1">
        <strong>{{ tweet.username }}</strong>
        <span class="q-pl-sm text-grey-7">@{{ tweet.userHandle }}</span>
        <span class="q-pl-sm text-grey-10">{{ date }}</span>
      </q-item-label>
      <q-item-label class="content text-body1">
        {{ tweet.message }}
      </q-item-label>
      <div class="row justify-between q-pt-sm icons">
        <q-btn
          clickable
          flat
          round
          color="grey"
          icon="far fa-comment"
          size="sm"
        />
        <q-btn
          clickable
          flat
          round
          color="grey"
          icon="fas fa-retweet"
          size="sm"
        />
        <q-btn
          clickable
          flat
          round
          color="grey"
          icon="far fa-heart"
          size="sm"
        />
        <q-btn
          flat
          round
          clickable
          color="grey"
          icon="fas fa-trash"
          size="sm"
          @click="deleteTweet"
        />
      </div>
    </q-item-section>
  </q-item>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { formatDistance } from 'date-fns';

type TweetInterface = {
  username: string;
  userHandle: string;
  imgUrl: string;
  message: string;
  date: number;
};

const Tweet = defineComponent({
  name: 'Tweet',
  props: {
    tweet: Object as () => TweetInterface,
  },
  setup() {
    return {};
  },
  computed: {
    date(): string {
      if (this.tweet) {
        return formatDistance(this.tweet.date, Date.now());
      }
      return '';
    },
  },
  methods: {
    deleteTweet() {
      this.$emit('onDeleteTweet', this.tweet);
    },
  },
});

export default Tweet;
export { TweetInterface };
</script>

<style lang="sass">
.content
  white-space: pre-line
.icons
  margin-left: -5px
</style>
