<template>
  <q-layout view="lHr LpR fFf">
    <q-header bordered class="bg-white text-black">
      <q-toolbar>
        <q-btn dense flat round icon="menu" @click="toggleLeftDrawer" />
        <q-toolbar-title class="text-weight-bold gt-sm"> {{}} </q-toolbar-title>
        <q-icon
          class="lt-md absolute-center"
          size="md"
          name="fa fa-kiwi-bird"
          color="primary"
        />
      </q-toolbar>
    </q-header>

    <q-drawer
      show-if-above
      v-model="leftDrawerOpen"
      side="left"
      bordered
      :width="225"
    >
      <q-icon
        name="fa fa-kiwi-bird"
        size="lg"
        color="primary"
        class="q-pa-md"
      />
      <q-list>
        <q-item clickable v-ripple to="/" exact>
          <q-item-section avatar>
            <q-icon name="fa fa-home" />
          </q-item-section>
          <q-item-section class="text-h6">Home</q-item-section>
        </q-item>
        <q-item clickable v-ripple to="/about" exact>
          <q-item-section avatar>
            <q-icon name="fa fa-question-circle" />
          </q-item-section>
          <q-item-section class="text-h6">About</q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-drawer show-if-above v-model="rightDrawerOpen" side="right" bordered>
      <q-input
        rounded
        outlined
        placeholder="Search"
        class="q-pa-md"
        input-class="q-pl-sm"
      >
        <template v-slot:append>
          <q-icon name="fa fa-search" size="sm" class="q-pr-sm" />
        </template>
      </q-input>
      <q-list separator padding>
        <q-item v-for="index in 5" :key="index" class="q-pa-md">
          <q-item-section>
            <q-item-label overline class="text-uppercase"
              >Category</q-item-label
            >
            <q-item-label class="text-weight-bold">Title</q-item-label>
            <q-item-label caption>Some text text text text text</q-item-label>
          </q-item-section>

          <q-item-section side top>
            <q-item-label caption>5 min ago</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { ref } from 'vue';

export default {
  setup() {
    const leftDrawerOpen = ref(false);
    const rightDrawerOpen = ref(false);

    return {
      leftDrawerOpen,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value;
      },

      rightDrawerOpen,
      toggleRightDrawer() {
        rightDrawerOpen.value = !rightDrawerOpen.value;
      },
    };
  },
};
</script>
